---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Sobre Mi">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Sobre Mi</Fragment>
      <Fragment slot="desc">Actualmente esta pagina simplemente est치 dise침ada por una persona.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Mejorando el mundo con noticias y experiencias.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Actualmente la idea principal de nuestro equipo, al ser escalable, siempre ser치 mejorar
        y dar las mejores experiencias para las noticias y funciones para Desarrollo Web.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
          <div class="group">
            <div class="w-full aspect-square">
              <img
                src="https://avatars.githubusercontent.com/u/131772687?v=4"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">Mr.Brad - Brad</h2>
              <h3 class="text-sm text-slate-500">CEO de la Pagina Web</h3>
            </div>
          </div>
          <div class="group">
            <div class="w-full aspect-square">
              <img
                src="https://i.pinimg.com/564x/93/0c/4e/930c4e66c5ec391054d396d9c91f4c77.jpg"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">MissKath - Kath</h2>
              <h3 class="text-sm text-slate-500">Jefa del Departamento Administrativo</h3>
            </div>
          </div>
          <div class="group">
            <div class="w-full aspect-square">
              <img
                src="/avatar.svg"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">Proximamente...</h2>
              <h3 class="text-sm text-slate-500">Jefa del Departamento de Informaci칩n</h3>
            </div>
          </div>
    </div>      
  </Container>
</Layout>
