---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Usa tu propio Framework",
    description:
      "Cree tu web utilizando React, Svelte, Vue, Preact, componentes web o simplemente HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "100% Estatico HTML, No JS",
    description:
      "Astro procesa toda tu página en HTML estático, eliminando todo JavaScript de tu compilación final de forma predeterminada.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Componentes en Demanda",
    description:
      "¿Necesitas algo de JS (JavaScript)? Astro puede activar automáticamente los componentes interactivos cuando se vuelven visibles en la página.",
    icon: "bx:bxs-data",
  },
  {
    title: "Integración Amplia",
    description:
      "Astro admite TypeScript, Scoped CSS, módulos CSS, Sass, Tailwind, Markdown, MDX y cualquier otro paquete npm.",
    icon: "bx:bxs-bot",
  },
  {
    title: "SEO Activado",
    description:
      "Las webs automáticas, las fuentes RSS, la paginación y las colecciones eliminan las complicaciones del SEO y la distribución. ¡Simplemente funciona perfecto!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Comunidad",
    description:
      "Astro junto a Brad-Web es un proyecto de código abierto impulsado por cientos de contribuyentes que realizan miles de contribuciones individuales.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Todos los componentes de la Web
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Esta Web viene con pilas incluidas. Este usa las mejores herramientas 
    de última generación y agrega sus propias innovaciones juntando Astro.js, Tailwind y React.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
